@model WebApplication2.Data.GeoChange

@{
    ViewData["Title"] = "Delete Report";
}

<h1>Slett rapport</h1>

<h3>Er du sikker på at du ønsker å slette rapporten?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GeoJson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GeoJson)
        </dd>
    </dl>

    <form asp-action="DeleteReport" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />

        <button type="submit" class="btn btn-danger">Slett</button>
        <a href="@Url.Action("CaseworkerOverview", "Caseworker")" class="btn btn-secondary">Avbryt</a> <!-- Direct cancel link to overview -->
    </form>
</div>
